@using StudentAttendanceProject.Models
@model List<StudentAttendance>

<form asp-action="AddNewRecord" method="post">
    <input type="hidden" name="attendanceId" value="@ViewBag.AttendanceId" />
    <table class="table table-responsive">
        <tr>
            <td>Student</td>
            <td>Present</td>
        </tr>

        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <input type="hidden" asp-for="@(Model[i].StudentId)" />
                <td>@Model[i].StudentName</td>
                <td><input asp-for="@(Model[i].IsPresent)" /></td>
            </tr>
        }
    </table>
    <button type="submit">Submit</button>
</form>